# `yarn` has its own opinions on `package.json`, so `prettier` should ignore it
package.json

# Non-committed directories
.netlify
node_modules
coverage
lib
public

# Generated Markdown files
CHANGELOG.md
