---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <h2>
    <a href="/">
      {SITE_TITLE}
    </a>
  </h2>
  <nav>
    <HeaderLink href="/articles">Articles</HeaderLink>
    <HeaderLink href="/notes">Notes</HeaderLink>
    <HeaderLink href="/quotes">Quotes</HeaderLink>
    <HeaderLink href="/links">Links</HeaderLink>
    <HeaderLink href="/images">Images</HeaderLink>
    <HeaderLink href="/videos">Videos</HeaderLink>
    <HeaderLink href="/now">Now</HeaderLink>
    <!-- <HeaderLink href="/about">About</HeaderLink> -->
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
